/*
Program name: Lonestar Medical Patient Form (CSS)
Author: Neal Hafiz
Date created: 2/3/2025
Date last edited: 3/05/2025
Version: 2.7
Description: Style Sheet for the Patient Registration Form. 
*/

body {
    background-color: floralwhite;
     font-family: 'Verdana', sans-serif;
}

table{
    margin: 0 auto;
}

form{
    border-radius: 5px;
}

input {
  border-radius: 5px; /* Apply to input, not the parent */
}


/* Password Validation box Box */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

/* Message box appears when user clicks on field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* green text once it is valid*/
  .valid {
    color: green;
  }
  
  .valid:before {
  content: "✔";  
  margin-right: 10px; 
  position: relative;
  left: -35px;
  }
  
  /* Red text and X when invalid */
  .invalid {
    color: red;
  }
  
  .invalid:before {
  content: "X"; 
  margin-right: 10px;  
  position: relative;
  left: -35px;

  }
