/*
Program name: Lonestar Medical Patient Form (CSS)
Author: Neal Hafiz
Date created: 2/3/2025
Date last edited: 3/05/2025
Version: 2.7
Description: Style Sheet for the Patient Registration Form. 
*/

body {
    background-color: floralwhite;
     font-family: 'Verdana', sans-serif;
}

table{
    margin: 0 auto;
}

form{
    border-radius: 5px;
}

input {
  border-radius: 5px; /* Apply to input, not the parent */
}


/* Password Validation box Box https://www.w3schools.com/howto/howto_js_password_validation.asp */ 
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
  content: "✔";  /* Checkmark icon */
  margin-right: 10px;  /* Space between icon and text */
  position: relative;
  left: -35px;
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
  content: "X";  /* "X" icon */
  margin-right: 10px;  /* Space between icon and text */
  position: relative;
  left: -35px;

  }
